LAB1/LAB1_flows.json
[{"id":"b388b84a.db72f8","type":"tab","label":"Lab_1","disabled":false,"info":""},{"id":"8f4f0425.84afc8","type":"http response","z":"b388b84a.db72f8","name":"","statusCode":"","headers":{},"x":410,"y":40,"wires":[]},{"id":"bdeab0cc.22067","type":"http in","z":"b388b84a.db72f8","name":"","url":"hello","method":"post","upload":false,"swaggerDoc":"","x":70,"y":100,"wires":[["657f18b0.4feb58","6494a778.9e31e8"]]},{"id":"657f18b0.4feb58","type":"function","z":"b388b84a.db72f8","name":"","func":"\nmsg.payload = 'Hello ' + msg.payload.name;\nreturn msg;","outputs":1,"noerr":0,"x":230,"y":80,"wires":[["8f4f0425.84afc8","bbee7374.4faa2"]]},{"id":"6494a778.9e31e8","type":"debug","z":"b388b84a.db72f8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":290,"y":220,"wires":[]},{"id":"bbee7374.4faa2","type":"debug","z":"b388b84a.db72f8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":430,"y":140,"wires":[]}]