LAB4/LAB4_NSCL_flows.json
[{"id":"ed915160.cb5f9","type":"tab","label":"Lab_4_NSCL","disabled":false,"info":""},{"id":"54ae9674.1b3e28","type":"inject","z":"ed915160.cb5f9","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":260,"y":100,"wires":[["ea469065.6b7c5"]]},{"id":"ea469065.6b7c5","type":"oM2M-Application","z":"ed915160.cb5f9","xSCL":"26d81a60.700f36","xA":"ba05d7a7.d915a8","obixType":"Network Application","obixCategory":"demo","obixLocation":"Internet Cloud","obixAnnounce":false,"x":450,"y":100,"wires":[["8f004a64.412628"]]},{"id":"8f004a64.412628","type":"http request","z":"ed915160.cb5f9","name":"","method":"POST","ret":"txt","paytoqs":false,"url":"","tls":"","proxy":"","authType":"basic","x":650,"y":100,"wires":[["61e2b209.e6d25c"]]},{"id":"61e2b209.e6d25c","type":"debug","z":"ed915160.cb5f9","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":850,"y":100,"wires":[]},{"id":"e145101f.6df92","type":"inject","z":"ed915160.cb5f9","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":260,"y":180,"wires":[["c2b61a84.613bd8"]]},{"id":"c2b61a84.613bd8","type":"oM2M-Subscription","z":"ed915160.cb5f9","xSCL":"26d81a60.700f36","xA":"ba05d7a7.d915a8","contactPath":"/GPSnotification","filterType":"","filterCriteria":"content","x":450,"y":180,"wires":[["99bd2b75.02a318"]]},{"id":"99bd2b75.02a318","type":"http request","z":"ed915160.cb5f9","name":"","method":"POST","ret":"txt","paytoqs":false,"url":"http://127.0.0.1:8181/om2m/gscl/applications/LOCATION_GATEWAY_APPLICATION/containers/DATA/contentInstances/subscriptions","tls":"","proxy":"","authType":"basic","x":650,"y":180,"wires":[["c199a535.63d918"]]},{"id":"c199a535.63d918","type":"debug","z":"ed915160.cb5f9","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"statusCode","targetType":"msg","x":860,"y":180,"wires":[]},{"id":"eb2d0766.281cf8","type":"xml","z":"ed915160.cb5f9","name":"","property":"payload","attr":"","chr":"","x":470,"y":300,"wires":[["485b7447.77282c"]]},{"id":"80298755.ba3738","type":"http response","z":"ed915160.cb5f9","name":"","statusCode":"","headers":{},"x":470,"y":380,"wires":[]},{"id":"485b7447.77282c","type":"function","z":"ed915160.cb5f9","name":"Extract Data from XML","func":"var result = msg.payload[\"om2m:notify\"][\"om2m:representation\"][0]._\n\nvar result_buff = new Buffer(result, 'base64').toString('ascii');\n\n\n\nmsg.payload = result_buff;\nreturn msg;","outputs":1,"noerr":0,"x":680,"y":300,"wires":[["f912dd63.cc76"]]},{"id":"d3cc0637.a95608","type":"debug","z":"ed915160.cb5f9","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1310,"y":400,"wires":[]},{"id":"864acc3c.359c9","type":"file","z":"ed915160.cb5f9","name":"","filename":"/Users/lhleung/locations.xml","appendNewline":true,"createDir":false,"overwriteFile":"true","encoding":"none","x":1440,"y":300,"wires":[[]]},{"id":"78f7605b.6a0a","type":"http in","z":"ed915160.cb5f9","name":"","url":"/GPSnotification","method":"post","upload":false,"swaggerDoc":"","x":280,"y":300,"wires":[["eb2d0766.281cf8","80298755.ba3738"]]},{"id":"daa90448.4f05c8","type":"http in","z":"ed915160.cb5f9","name":"","url":"/locations","method":"get","upload":false,"swaggerDoc":"","x":260,"y":480,"wires":[["e29dc081.a54d5"]]},{"id":"e29dc081.a54d5","type":"file in","z":"ed915160.cb5f9","name":"","filename":"/Users/lhleung/locations.xml","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":520,"y":480,"wires":[["f3dda808.de81e8"]]},{"id":"ed246aae.59fb88","type":"http response","z":"ed915160.cb5f9","name":"","statusCode":"200","headers":{},"x":920,"y":480,"wires":[]},{"id":"f912dd63.cc76","type":"xml","z":"ed915160.cb5f9","name":"","property":"payload","attr":"","chr":"","x":890,"y":300,"wires":[["c61a1b97.b99148"]]},{"id":"c61a1b97.b99148","type":"function","z":"ed915160.cb5f9","name":"Extract Data from XML","func":"var object1 = msg.payload.obj;\nvar string1 = object1.str;\nvar tres = string1[3];\nvar tres_$ = tres.$;\nvar latitude = tres_$.val;\nvar cuatro = string1[4];\nvar cuatro_$ = cuatro.$;\nvar longitude = cuatro_$.val;\nmsg.payload = { \n    \"latitude\":latitude,\n    \"longitubde\": longitude\n}\nreturn msg;","outputs":1,"noerr":0,"x":1120,"y":300,"wires":[["864acc3c.359c9","d3cc0637.a95608"]]},{"id":"f3dda808.de81e8","type":"json","z":"ed915160.cb5f9","name":"","property":"payload","action":"","pretty":false,"x":750,"y":480,"wires":[["ed246aae.59fb88"]]},{"id":"26d81a60.700f36","type":"xSCL","z":"","sclId":"1","host":"localhost","port":"8080","baseUrl":"/"},{"id":"ba05d7a7.d915a8","type":"xA","z":"","appId":"LOCATION_GATEWAY_APPLICATION","contactUrl":"localhost:1880"}]