LAB4/LAB4_GSCL_flows.json
[{"id":"14bc9d4d.ac9243","type":"tab","label":"Lab_4_GSCL","disabled":false,"info":""},{"id":"4baf13e3.5f89ec","type":"inject","z":"14bc9d4d.ac9243","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":180,"y":80,"wires":[["f4b2b287.e5d31"]]},{"id":"f4b2b287.e5d31","type":"oM2M-Application","z":"14bc9d4d.ac9243","xSCL":"53d69b56.0bcba4","xA":"ba05d7a7.d915a8","obixType":"Gateway Application","obixCategory":"Demo","obixLocation":"NCKU","obixAnnounce":true,"x":380,"y":80,"wires":[["1ab5834c.3645ad"]]},{"id":"1ab5834c.3645ad","type":"http request","z":"14bc9d4d.ac9243","name":"","method":"POST","ret":"txt","paytoqs":false,"url":"","tls":"","proxy":"","authType":"basic","x":590,"y":80,"wires":[["32a2fbba.18d7e4"]]},{"id":"32a2fbba.18d7e4","type":"debug","z":"14bc9d4d.ac9243","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":790,"y":80,"wires":[]},{"id":"3f370e2f.018ea2","type":"inject","z":"14bc9d4d.ac9243","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":180,"y":260,"wires":[["f85cd07a.ab9ca"]]},{"id":"d451d9b3.b403e8","type":"http request","z":"14bc9d4d.ac9243","name":"","method":"POST","ret":"txt","paytoqs":false,"url":"","tls":"","proxy":"","authType":"basic","x":590,"y":260,"wires":[["115c97f5.630f38"]]},{"id":"115c97f5.630f38","type":"debug","z":"14bc9d4d.ac9243","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":790,"y":260,"wires":[]},{"id":"f85cd07a.ab9ca","type":"oM2M-Data-Container","z":"14bc9d4d.ac9243","xSCL":"53d69b56.0bcba4","xA":"ba05d7a7.d915a8","maxNrOfInstances":"5","obixAnnounce":true,"x":380,"y":260,"wires":[["d451d9b3.b403e8"]]},{"id":"c5d2ec59.dfebe","type":"inject","z":"14bc9d4d.ac9243","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":180,"y":140,"wires":[["84a4fd97.15847"]]},{"id":"d5a669d0.7aef98","type":"http request","z":"14bc9d4d.ac9243","name":"","method":"POST","ret":"txt","paytoqs":false,"url":"","tls":"","proxy":"","authType":"basic","x":590,"y":140,"wires":[["a3757566.607c48"]]},{"id":"a3757566.607c48","type":"debug","z":"14bc9d4d.ac9243","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":790,"y":140,"wires":[]},{"id":"ca708779.7cd088","type":"inject","z":"14bc9d4d.ac9243","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":180,"y":200,"wires":[["d9774c0.d0fefb8"]]},{"id":"993525e0.c89168","type":"http request","z":"14bc9d4d.ac9243","name":"","method":"POST","ret":"txt","paytoqs":false,"url":"","tls":"","proxy":"","authType":"basic","x":590,"y":200,"wires":[["d6dceb0b.5be338"]]},{"id":"d6dceb0b.5be338","type":"debug","z":"14bc9d4d.ac9243","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":790,"y":200,"wires":[]},{"id":"84a4fd97.15847","type":"oM2M-Descriptor-Container","z":"14bc9d4d.ac9243","xSCL":"53d69b56.0bcba4","xA":"ba05d7a7.d915a8","x":380,"y":140,"wires":[["d5a669d0.7aef98"]]},{"id":"d9774c0.d0fefb8","type":"oM2M-Descriptor-ContentInstance","z":"14bc9d4d.ac9243","xSCL":"53d69b56.0bcba4","xA":"ba05d7a7.d915a8","obixType":"Gateway Application","obixLocation":"NCKU","x":380,"y":200,"wires":[["993525e0.c89168"]]},{"id":"ef069281.6d3c9","type":"http in","z":"14bc9d4d.ac9243","name":"Post Sensor Data","url":"/GPSData","method":"post","upload":false,"swaggerDoc":"","x":200,"y":380,"wires":[["67025655.0fe1e8","956382d5.50379"]]},{"id":"67025655.0fe1e8","type":"function","z":"14bc9d4d.ac9243","name":"Input Data","func":"var data = { \n    type:'gps',\n    unit:'float',\n    latitude: msg.payload.latitude,\n    longitude: msg.payload.longitude\n};\nmsg.payload = JSON.stringify(data);\nreturn msg;","outputs":1,"noerr":0,"x":390,"y":380,"wires":[["874aaa1f.150af8"]]},{"id":"874aaa1f.150af8","type":"oM2M-Data-ContentInstance","z":"14bc9d4d.ac9243","xSCL":"53d69b56.0bcba4","xA":"ba05d7a7.d915a8","obixCategory":"Gateway Application","x":640,"y":380,"wires":[["f3f21227.814ac"]]},{"id":"f3f21227.814ac","type":"http request","z":"14bc9d4d.ac9243","name":"","method":"POST","ret":"txt","paytoqs":false,"url":"","tls":"","proxy":"","authType":"basic","x":870,"y":380,"wires":[["ce322f1.aa5e2d"]]},{"id":"ce322f1.aa5e2d","type":"debug","z":"14bc9d4d.ac9243","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1090,"y":380,"wires":[]},{"id":"956382d5.50379","type":"http response","z":"14bc9d4d.ac9243","name":"","statusCode":"","headers":{},"x":410,"y":500,"wires":[]},{"id":"ba467c86.ef65a","type":"function","z":"14bc9d4d.ac9243","name":"Input Data","func":"var data = {\n    type:'gps',\n    unit:'float',\n    latitude: '20',\n    longitude: '100'\n};\nmsg.payload = JSON.stringify(data);\nreturn msg;","outputs":1,"noerr":0,"x":390,"y":320,"wires":[["30dbb690.dde58a"]]},{"id":"30dbb690.dde58a","type":"oM2M-Data-ContentInstance","z":"14bc9d4d.ac9243","xSCL":"53d69b56.0bcba4","xA":"ba05d7a7.d915a8","obixCategory":"GatewayApplication","x":640,"y":320,"wires":[["9b3b5a23.b26f88"]]},{"id":"9b3b5a23.b26f88","type":"http request","z":"14bc9d4d.ac9243","name":"","method":"POST","ret":"txt","paytoqs":false,"url":"","tls":"","proxy":"","authType":"basic","x":870,"y":320,"wires":[["eaa5be82.9f6a"]]},{"id":"eaa5be82.9f6a","type":"debug","z":"14bc9d4d.ac9243","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1090,"y":320,"wires":[]},{"id":"1915c4.2f695a3d","type":"inject","z":"14bc9d4d.ac9243","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":180,"y":320,"wires":[["ba467c86.ef65a"]]},{"id":"53d69b56.0bcba4","type":"xSCL","z":"","sclId":"gscl","host":"localhost","port":"8181","baseUrl":"/om2m/"},{"id":"ba05d7a7.d915a8","type":"xA","z":"","appId":"LOCATION_GATEWAY_APPLICATION","contactUrl":"localhost:1880"}]