LAB2/LAB2_flows.json
[{"id":"b3eeaf6d.03549","type":"tab","label":"Lab_2","disabled":false,"info":""},{"id":"53333906.aaa7b8","type":"http response","z":"b3eeaf6d.03549","name":"","statusCode":"","headers":{},"x":590,"y":180,"wires":[]},{"id":"78f5cc71.cf1f24","type":"http in","z":"b3eeaf6d.03549","name":"","url":"/locations","method":"post","upload":false,"swaggerDoc":"","x":180,"y":280,"wires":[["15395c7e.ea4084","6db70001.8996d"]]},{"id":"15395c7e.ea4084","type":"function","z":"b3eeaf6d.03549","name":"","func":"\nmsg.payload = 'Accepted! GroupID:' + \n              msg.payload.groupid  +\n              ' Longitude:' +\n              msg.payload.longitude +\n              ' Latitude:' +\n              msg.payload.latitude;\nreturn msg;","outputs":1,"noerr":0,"x":410,"y":220,"wires":[["53333906.aaa7b8","4f3a1270.19aa7c"]]},{"id":"6db70001.8996d","type":"debug","z":"b3eeaf6d.03549","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":470,"y":360,"wires":[]},{"id":"4f3a1270.19aa7c","type":"debug","z":"b3eeaf6d.03549","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":610,"y":280,"wires":[]},{"id":"4e2701c0.311f1","type":"http response","z":"b3eeaf6d.03549","name":"","statusCode":"","headers":{},"x":630,"y":500,"wires":[]},{"id":"1c153e09.b2b742","type":"http in","z":"b3eeaf6d.03549","name":"","url":"/locations/12","method":"get","upload":false,"swaggerDoc":"","x":230,"y":600,"wires":[["77da5e4c.58b76","29519e86.1444d2"]]},{"id":"77da5e4c.58b76","type":"function","z":"b3eeaf6d.03549","name":"","func":"\nmsg.payload = {\n                latitude: 22.997550,\n                longtitude: 120.221121\n              };\nreturn msg;","outputs":1,"noerr":0,"x":450,"y":540,"wires":[["4e2701c0.311f1","b0a33fdc.a0fd7"]]},{"id":"29519e86.1444d2","type":"debug","z":"b3eeaf6d.03549","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":510,"y":680,"wires":[]},{"id":"b0a33fdc.a0fd7","type":"debug","z":"b3eeaf6d.03549","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":650,"y":600,"wires":[]}]