LAB3/LAB3_GSCL_flows.json
[{"id":"f76f37da.e69b28","type":"tab","label":"Lab_3_GSCL","disabled":false,"info":""},{"id":"2d9f2d22.35a012","type":"inject","z":"f76f37da.e69b28","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":200,"y":240,"wires":[["17043a9b.189385"]]},{"id":"17043a9b.189385","type":"oM2M-Application","z":"f76f37da.e69b28","xSCL":"53d69b56.0bcba4","xA":"ba05d7a7.d915a8","obixType":"Demo","obixCategory":"GatewayApplication","obixLocation":"NCKU","obixAnnounce":true,"x":400,"y":240,"wires":[["8f1c1d01.f830e"]]},{"id":"8f1c1d01.f830e","type":"http request","z":"f76f37da.e69b28","name":"","method":"POST","ret":"txt","paytoqs":false,"url":"","tls":"","proxy":"","authType":"basic","x":610,"y":240,"wires":[["ba10017.b191f"]]},{"id":"ba10017.b191f","type":"debug","z":"f76f37da.e69b28","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":810,"y":240,"wires":[]},{"id":"8f723276.ece2c","type":"http in","z":"f76f37da.e69b28","name":"Post Sensor Data","url":"/sensorData","method":"post","upload":false,"swaggerDoc":"","x":220,"y":360,"wires":[["6356604b.8f47e","8ca4cc56.3b328"]]},{"id":"6356604b.8f47e","type":"function","z":"f76f37da.e69b28","name":"Input Data","func":"var data = {\n    type: 'string',\n    unit: 'fake data',\n    data: msg.payload.name\n};\n\nmsg.payload = JSON.stringify(data);\nreturn msg;","outputs":1,"noerr":0,"x":430,"y":360,"wires":[["471596c6.f0c8e8"]]},{"id":"471596c6.f0c8e8","type":"oM2M-Data-ContentInstance","z":"f76f37da.e69b28","xSCL":"53d69b56.0bcba4","xA":"ba05d7a7.d915a8","obixCategory":"GatewayApplication","x":660,"y":360,"wires":[["71ab4ae4.5c0444"]]},{"id":"71ab4ae4.5c0444","type":"http request","z":"f76f37da.e69b28","name":"","method":"POST","ret":"txt","paytoqs":false,"url":"","tls":"","proxy":"","authType":"basic","x":890,"y":360,"wires":[["b1f68f0e.de9a4"]]},{"id":"b1f68f0e.de9a4","type":"debug","z":"f76f37da.e69b28","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1110,"y":360,"wires":[]},{"id":"8ca4cc56.3b328","type":"http response","z":"f76f37da.e69b28","name":"","statusCode":"","headers":{},"x":480,"y":460,"wires":[]},{"id":"ab992f9a.d2963","type":"inject","z":"f76f37da.e69b28","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":200,"y":300,"wires":[["38d8a835.b8e508"]]},{"id":"720924a7.12031c","type":"http request","z":"f76f37da.e69b28","name":"","method":"POST","ret":"txt","paytoqs":false,"url":"","tls":"","proxy":"","authType":"basic","x":610,"y":300,"wires":[["4818c762.3eeb88"]]},{"id":"4818c762.3eeb88","type":"debug","z":"f76f37da.e69b28","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":810,"y":300,"wires":[]},{"id":"38d8a835.b8e508","type":"oM2M-Data-Container","z":"f76f37da.e69b28","xSCL":"53d69b56.0bcba4","xA":"ba05d7a7.d915a8","maxNrOfInstances":"5","obixAnnounce":true,"x":400,"y":300,"wires":[["720924a7.12031c"]]},{"id":"53d69b56.0bcba4","type":"xSCL","z":"","sclId":"gscl","host":"localhost","port":"8181","baseUrl":"/om2m/"},{"id":"ba05d7a7.d915a8","type":"xA","z":"","appId":"MY_SENSOR","contactUrl":"localhost:1880"}]